################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/CodeChunks.db
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/CodeChunks.db-shm
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/CodeChunks.db-wal
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/SemanticSymbols.db
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/SemanticSymbols.db-shm
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/CopilotIndices/17.13.400.13238/SemanticSymbols.db-wal
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/DesignTimeBuild
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/DesignTimeBuild/.dtbcache.v2
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex/1215efaa-4b4a-418b-acaa-99a8f90c687a.vsidx
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex/4d5651eb-e046-47f4-bb71-de5ce45d16b7.vsidx
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex/63a0300a-2c25-4d9f-8fbc-8ee87681937a.vsidx
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex/69e0cf57-7f55-4da8-b1f8-3d014dd0caae.vsidx
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Managemen API/FileContentIndex/c14d6de3-d048-43c8-9d1f-3450942e804e.vsidx
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/config
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/config/applicationhost.config
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/v17
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/v17/.suo
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/v17/DocumentLayout.backup.json
/TechHive Solutions User Managemen API/.vs/TechHive Solutions User Management API/v17/DocumentLayout.json
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/CodeChunks.db
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/CodeChunks.db-shm
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/CodeChunks.db-wal
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/SemanticSymbols.db
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/SemanticSymbols.db-shm
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/CopilotIndices/17.13.400.13238/SemanticSymbols.db-wal
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/FileContentIndex/b389308d-7333-46a0-a445-613d3fc7fca8.vsidx
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/v17/.suo
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/DesignTimeBuild/.dtbcache.v2
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/FileContentIndex/47ca3e66-db4a-4947-8a30-06926a93ff76.vsidx
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/FileContentIndex/8f190a03-a01e-406e-8af2-6ee0e6d616b9.vsidx
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/v17/DocumentLayout.backup.json
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/v17/DocumentLayout.json
/TechHive Solutions User Management API/.vs/TechHive Solutions User Management API/FileContentIndex/cba0672f-e3d1-4869-8735-3c7a4a1065a1.vsidx
